.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.card {
	margin: 1rem;
	flex-basis: 30%;
	padding: 1rem;
	text-align: left;
	border-radius: 10px;
}

.card h3 {
	margin: 1rem 0 1rem 0;
	font-size: 14pt;
	font-weight: normal;
}

.card p {
	margin: 0;
	font-size: 12pt;
	line-height: 1.5;
	color: rgb(137, 139, 141);
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
