.form {
	border-radius: 5px;
	padding: 10px;
	width: 600px;
}

.box {
	display: flex;
}

.container {
	margin-bottom: 10px;
	margin-right: 20px;
	margin-left: 20px;
}

.inputBox {
	border-radius: 30px;
	border: rgb(241, 234, 234);
	border-style: hidden;
	height: 40px;
	width: 100%;
	margin-bottom: 4px;
}

.inputBox:focus {
	border: 1px solid #ffd42a;
}

.buttonContainer {
	text-align: center;
}

.button {
	margin-top: 5px;
	margin-left: 10px;
	padding: 10px 20px 10px 20px;
	width: fit-content;
	height: fit-content;
	background: #ffd42a;
	border: 2px solid #ffd42a;
	box-sizing: border-box;
	box-shadow: 0px 4px 20px rgba(0, 210, 181, 0.4);
	border-radius: 30px;
}

.button:hover {
	background: white;
}

.label {
	font-size: 11pt;
	color: black;
	font-weight: normal;
}

.error {
	color: red;
	font-size: 10pt;
}
