.nav {
	height: 80px;
	padding: 10px;
	background: white;
	color: black;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-left: 10px;
	position: fixed;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.nav ul li a {
	margin: 5px 15px;
}

.nav ul li:hover {
	color: rgb(33, 231, 182);
}

.nav ul li:active {
	color: rgb(33, 231, 182);
}
